<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Globall.css")
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid ms-5 ">
                @Html.ActionLink("Maciej Nowowiejski", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/maciek-nowowiejski-77681920b/">
                                <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/Goldin190">
                                <img src="https://img.icons8.com/stickers/48/000000/github.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Projekty", "Projects", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <div class="spacer-horizontal"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Portfolio Maciej Nowowiejski wykonane w ASP.NET</p>
            <a href="https://www.flaticon.com/free-icons/contact" title="contact icons" class="h6">Contact icons created by Smashicons - Flaticon</a>
        </footer>
    </div>
    
    @Scripts.Render("~/Scripts/bootstrap.bundle.js")
    @Scripts.Render("~/Scripts/jquery-3.6.0.js")
    @RenderSection("scripts", required: false)
</body>
</html>
